.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.flexLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
  left: 3rem;
  text-align: center;
  letter-spacing: 3px;
}

.logoImg {
  position: relative;
  left: 1.5rem;
}

@media (max-width: 500px) {
  .flexLogo {
    position: relative;
    left: 5rem;
    text-align: center;
    letter-spacing: 3px;
  }
  .logo img {
    position: relative;
    left: 1.5rem;
  }
}
